{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
{% block body %}
<div class="container">
  <div class="row">
    <div  align="center" class="col">
        <br>
        <br>
        <br><br>
        <br>         <br><br><br>
        <img src = "{% static 'img3.jpeg' %}" alt="My image" width="290" height="200"/>
        <br> <br>
      <h1>Welcome to  Health and Nutrision Management System</h1>

    </div>
      <div  align="center" class="col">
        <h1>Top Nutrision Components</h1>
          <br><br>
          <div class="row">
  <div class="col-sm-8">
          <div class="card border-primary border-4" style="width: 18rem;" >
  <img src="{% static 'img1.jpeg' %}" class="card-img-top" alt="...">
</div>
  </div>
          <br><br>
              <br><br>
               <div class="col-sm-6">
          <div class="card border-primary border-4" style="width: 18rem;" >
  <img src="{% static 'img2.jpeg' %}" class="card-img-top" alt="...">
</div>
               </div>
      </div>
  </div>
</div>
</div>

<br><br><br>
<center>
    <div class="d-grid gap-2 col-6 mx-auto">
<a type="button" class="btn btn-primary btn-lg" href="{% url 'loginas' %}">Login as</a>
    </div>
    </center>
<br><br><br><br><br><br>
{% endblock %}
</html>